.pictures{
    padding: 20px;
}
.fantastic{
    width: 300px;
    height: 300px;
}
.alvin{
    width: 300px;
    height: 300px;
}
.heading{
    background-color: black;
    color: firebrick;
}
.ratings{
    padding: 20px;
}