.S{
    font-size: 70px;
}
.U{
    font-size: 70px;
}
.formsub{
    margin-left: 22px;
}
.signupBody{
    background-color: cornflowerblue;
}
.firstRow{
    padding: 10px;
}
.secondRow{
    padding: 10px;
}
.thirdRow{
    padding: 10px;
}